/*
{} ===> 0         precedence value

type selectors ===> 1    {p,h1,.....}

classes ===> 10

id ===> 100

inline styles ===> 100

*/


/* p {
    color: red;
}

p {
    color: green;
} */


/* the lower code is applied to the paragraph */


/* 
p.firstPara {
    color: blue;
}

p {
    color: red;
} */


/* classes over-write the type selectors */

#second {
    color: red;
}

p {
    color: green;
}


/* second paragraph doesn't change to green.
It changes to blue instead because of the use of inline css*/